*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
/*     background: linear-gradient(45deg, #1d0000,#20205b); */
    background: linear-gradient(45deg, #5A585A,#090947);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar{
    width: 300px;
    height: 250px;
    background: #fff829;
    display: flex;
    align-items: center;
    border-radius: 20px;
    /* border-radius: 50%; */
}
.left, .right{
    /* width: 50%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
}
.right{
    width: 42%;
    background: rgb(255, 132, 0);
    color: #fff;
    border-top-right-radius: 20px;
    /* border-top-right-radius: 50%; */
    border-bottom-right-radius: 20px;
    /* border-bottom-right-radius: 50%; */
}
.left{
    width: 58%;
}
#date{
    font-size: 100px;
    line-height: 90px;
}
#month{
    font-size: 50px;
    line-height: 90px;
}
